*{
    font-family: sans-serif, 微软雅黑;
}
body,html{
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    background-color: #F5F5F6;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
._1st{
    display: inline-flex;
    width: 100%;
    max-width: 700px;
    margin: 15px auto;
}
._1st>*{
    display: inline-flex;
}
footer{
    width: 100%;
    height: 200px;
}
.divider{
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.18);
    margin: 10px 5px;
}
.button{
    cursor: pointer;
    width: 80%;
    margin-top: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.18);
    border-width: 1px;
    border-radius: 100px;
    padding: 5px 0;
    background-color: rgba(58, 255, 246, 0.18);
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: all;
    transition-duration: 0.5s;
}
.button:hover{
    box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.4392156862745098);
}
#title{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title>*{
    margin: 0 auto;
}
#title>h1{
    margin-top: 30px;
    font-size: 2.5em;
}
#title>h2{
    color: gray;
    font-size: 1em;
}
#title>h2>a{
    color: gray;
}
#posts{
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
.post_entry{
    display: inline-flex;
    flex-direction: column;
    width: 26%;
    margin: 10px 0;
    border: solid;
    border-color: rgba(0, 0, 0, 0.18);
    border-width: 1px;
    border-radius: 8px;
    padding: 2%;
    box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.4392156862745098);
    background-color: rgb(228, 221, 205);
    line-height: 1.4em;
}
.post_user,.post_content{
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.88);
}
.post_user{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.75);
}
#new_post{
    align-items: center;
}
#post_input_content,#post_input_user,#chat_input_user,#chat_input_content{
    width: 96%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.77);
    overflow: hidden;
    resize: none;
    transition: all;
    transition-duration: 0.5s;
}
#post_input_content:hover,#post_input_user:hover,#chat_input_content:hover,#chat_input_user:hover{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.18);
}
#post_input_content:focus,#post_input_user:focus,#chat_input_content:focus,#chat_input_user:focus{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.18);
}
#post_input_user,#chat_input_user{
    height: 1em;
    font-size: 1.2em;
    border-radius: 100px;
}
#post_input_content,#chat_input_content{
    line-height: 1.4em;
    font-size: 16px;
    height: 3em;
    border-radius: 8px;
}
#chats{
    flex-direction: column;
    align-items: center;
    transition: all;
    transition-duration: 0.5s;
}
#chats>h2{
    margin: 0;
}
.chat_entry{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 10px 0;
}
#new_chat{
    flex-direction: column;
}
.chat_user,.chat_content{
    display: inline-block;
}
.chat_user{
    font-size: 1.4em;
    margin-right: 0.7em;
}
.chat_content{
    max-width: 100%;
    overflow-wrap: break-word;
    border: solid;
    border-color: rgba(0, 0, 0, 0.18);
    border-width: 1px;
    border-radius: 8px;
    padding: 5px 2%;
    box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.4392156862745098);
    background-color: rgb(255, 233, 244);
    line-height: 1.4em;
}